<div
  class="bg-sky-700 bg-opacity-20 min-h-[250px] min-w-[300px] rounded-lg flex flex-col gap-2"
>
  <div
    class="text-white flex-col gap-1 inline-flex pt-2 pb-2 border-b-blue-300 border-b-[1px] border-solid"
  >
    <span
      *ngIf="title"
      class="text-xl font-medium uppercase text-sky-300 leading-5 px-2"
      >{{ title }}</span
    >
    <span
      *ngIf="description"
      class="text-sm font-light text-sky-100 leading-5 pr-2 pl-3"
      >{{ description }}</span
    >
  </div>
  <div
    class="overflow-y-auto h-[175px] px-5 pb-2 {{
      justify && 'flex flex-1 justify-center items-center'
    }}"
  >
    <ng-content />
  </div>
</div>
