<div class="flex flex-col justify-center items-center gap-2">
  <h2 class="text-xl text-blue-400 font-bold leading-5 tracking-wider">
    Mission Control
  </h2>
  <button
    class="text-white bg-blue-500 px-2 py-2 rounded"
    type="button"
    (click)="announce()"
  >
    Announce mission
  </button>

  <app-astronaut *ngFor="let astronaut of astronauts" [astronaut]="astronaut">
  </app-astronaut>

  <h3 class="text-xl text-blue-400 font-bold leading-5 tracking-wider">
    History
  </h3>
  <ul>
    <li *ngFor="let event of history" class="text-white">{{ event }}</li>
  </ul>
</div>
